@font-face {
    font-family: "SF-Pro-Display-regular";
    src: url("./font/sf-pro-display_regular.woff2") format("woff2");
}

@font-face {
    font-family: "SF-Pro-Display-semibold";
    src: url("./font/sf-pro-display_semibold.woff2") format("woff2");
}

@font-face {
    font-family: "SF-Pro-Text-regular";
    src: url("./font/sf-pro-text_regular.woff2") format("woff2");
    font-weight: 100;
    font-style: normal;
}

@font-face {
    font-family: "SF-Pro-Display-KR-regular";
    src: url("./font/SFProKRDisplay_regular.woff2") format("woff2");
    font-weight: 100;
    font-style: normal;
}

@font-face {
    font-family: "SF-Pro-Display-KR-semibold";
    src: url("./font/SFProKRDisplay_semibold.woff2") format("woff2");
    font-weight: 100;
    font-style: normal;
}
